/* styles.css */
body {
  background-color: rgb(158, 206, 239);
}

/* src/style.css */
body {
  display: flex;
  margin: 0;
  font-family: sans-serif;
}
.sidebar {
  width: 250px;
  height: 100vh;
  padding: 1rem;
  background: #f0f0f0;
  border-right: 1px solid #ccc;
}
.main {
  padding: 1rem;
  flex-grow: 1;
}
table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}
th, td {
  padding: 1rem;
  border: 2px solid rgb(96, 117, 170);
  border-radius: 14px;
}

.addProjectButton {
    background-color: rgb(193, 207, 242);
    border: none;
    margin-top: 10px;
    padding: 16px;
    border-radius: 6px;
    font-size: 18px;
}

.addTaskButton {
    background-color: rgb(193, 207, 242);
    border: none;
    margin-top: 10px;
    padding: 16px;
    border-radius: 6px;
    font-size: 18px;
}

